* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

body {
  background: var(--Very-light-gray);
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

.add-comment-form {
  border-radius: 10px;
  background: var(--White);
  padding: 2em;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
}

.add-comment-form textarea {
  border: 1px solid var(--Light-gray);
  color: var(--Grayish-Blue);
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 85%;
  height: 100px;
  padding: 1em;
  margin: 0 1em;
  resize: none;
}

.add-comment-form textarea::placeholder {
  color: var(--Grayish-Blue);
  font-weight: 500;
}

.add-comment-form img {
  width: 40px;
}

.btn {
  background: var(--Moderate-blue);
  color: var(--White);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: var(--Light-grayish-blue);
}

.btn:disabled {
  background-color: var(--Light-gray);
  color: var(--Dark-blue);
  cursor: auto;
}

.btn-plus,
.btn-minus {
  background: transparent;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
}

.btn-reply {
  color: var(--Moderate-blue);
  display: flex;
  place-content: space-between;
}

.btn-reply span {
  margin-left: 5px;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 4em 2em;
}

.comment {
  word-wrap: break-word;
  width: 100%;
}

.comment,
.timestamp {
  line-height: 1.6;
  font-weight: 400;
  color: var(--Grayish-Blue);
}

.comment-card {
  display: flex;
  background-color: var(--White);
  padding: 1.5em;
  border-radius: 10px;
  margin-bottom: 1.5em;
}

.comment-area {
  padding: 0 15px;
  width: 100%;
}

.comment-header {
  padding-bottom: 1em;
  font-weight: 600;
  display: flex;
  place-content: space-between;
}

.comment-header .profile-info {
  display: flex;
  place-content: space-between;
  align-items: center;
  font-size: 14px;
}

.comment-header .profile-info img {
  width: 30px;
}

.comment-header .profile-info span {
  margin-left: 10px;
}

.comment-ratings {
  height: 85px;
  background: var(--Very-light-gray);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  place-content: space-between;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--Grayish-Blue);
  padding: 5px;
}

.comment-reply {
  margin: 1.5em 0;
  border-left: 2px solid var(--Light-gray);
  margin-left: 2em;
}

.comment-reply .reply {
  margin-bottom: 1.5em;
  padding-left: 2em;
}
